
<h1>Module <a href="/modules/<%= module.name %>"><%= module.name %></a></h1>
<div id="revisions" width="900" height="1000" ></div>
<% if (module.sourceType === 'Gist') {%>
  <iframe seamless="seamless" width="900" height="1000" srcdoc="<%= revisions %>" ></iframe>
<% } else { %>
  <% for (var i=0;i< revisions.length -1; i++) {%>
    <div id="diffoutput_<%= i %>" class="history"> </div>
  <% } %>
<% } %>

<div style="display:none;" class="ajax-loading"><div class="ajax-loading-fade"></div></div>

