<h1>Import module </h1>


<% if (errors && errors.length >0 ) {%>
<div id="messages">
  <ul class="error" >
    <% for (var i=0; i<errors.length;i++) {%>
    <li><span class="errlabel" data-index="<%= (typeof errors[i]["index"] === "undefined")  ? '' : ''+errors[i]["index"]   %>" ><%= errors[i].param %></span><span><%= errors[i].msg %></span></li>
    <% }%>
  </ul>
</div>
<% }%>

<form id="moduleForm" action="/modules/import" method="POST" enctype="multipart/form-data">
  <div class="formblock">
    <label style="display:block;width:300px;" for="import_module">Select de file with the module to import</label>
    <input type="file" name="module" id="module" placeholder="file" autofocus/>
    <input class="button" value="Import" type="submit">
  </div>

</form>
