
<h1>About Sinfonier</h1>
<div class="about-claim">
  <img src="/images/logo-big.png" alt="Sinfonier">
  <h2>Storm Builder for Security Intelligence</h2>
</div>
<div class="about-intro">

  A web service created by Telefonica which streamlines integration of open source data to deduct intelligence metadata.

</div>
<div class="about-content">
  <p class="about-title">
    In today's world we are consuming an ever-increasing variety of volatile data streams for processing and analysis.
  </p>
  <p>
    Integrating and using new, or modified streams of data is a time-consuming and complex process requiring a different tool at each stage of data capture, processing, analysis, and storage. A solution is needed which simplifies and automates integration of open source data in applications, and allows developers to share integration algorithms across the community.
  </p>
  <p>
    Telefonica Digital’s Sinfonier provides a human cloud of analysts with a secure and open environment, to graphically build high-level Apache Storm topologies, and execute and share them for a definable period of time.
  </p>
  <p class="about-icons"><img src="/images/spout-big.png" alt="Spout"><img src="/images/bolt-big.png" alt="Bolt"><img src="/images/drain-big.png" alt="DRain"></p>

  <p class="about-title">
    Apache Storm is a free and open source, distributed, real-time computation system. Storm use three abstractions:
  </p>
  <p>
    "Spouts", "Bolts" and "Topologies". Sinfonier includes one more abstraction: "Drains". Thus, a topology is not only a network of spouts and bolts, but also of drains. Spouts are a source of streams. Bolts process input streams and produce new output streams. Drains send input streams to both storage and other services. By means of these drains, analysts can connect specific modules allowing them to create their own intelligence methodology in an easy-to-use and intuitive manner. Once complete, these new abstractions can be shared privately or publicly, culminating in a crowd-sourced intelligence system.
  </p>
</div>

