<h1>Packages</h1>
<div class="packages-content">

  <p class="packages-title">
    Hi! soon you'll see here al libraries (Python/Java) supported by Sinfonier. For the nonce we're listing some Java Dependencies.
  </p>
  <p>
    <a class="packages-title-link">Twitter4J</a>
    <span>Twitter4J is an unofficial Java library for the Twitter API.</span>
  </p>
  <p>
    <a class="packages-title-link">org.codehaus.jackson</a>
    <span>High-performance JSON processor.</span>
  </p>
  <p>
    <a class="packages-title-link">Leftronic.com</a>
    <span>Leftronic.</span>
  </p>
  <p>
    <a class="packages-title-link">org.glassfish.jersey.core</a>
    <span>Jersey API-REST.</span>
  </p>
  <p>
    <a class="packages-title-link">org.rometools</a>
    <span>ROME is a set of RSS and Atom Utilities for Java.</span>
  </p>

  <p class="packages-end-claim">
    Users can request for new libraries during modules creating process.
  </p>
</div>
