<div id="changepassword">
	<h2>Change password</h2><br />
	
	<center>

  <%- messages() %>
	
	<form action="/sessions/changepass" method="post">
		<table>
	    <tr>
	      <td style="padding: 10px;">Authorization key</td>
	      <td><input type="string" name="authkey" placeholder="authKey" value="<%= req.query.authKey %>"/></td>
	    </tr>
	    <tr>
	      <td style="padding: 10px;">Email</td>
	      <td><input type="string" name="email" placeholder="email" value="<%= req.query.email %>" /></td>
	    </tr>
	    <tr>
	      <td style="padding: 10px;">Password</td>
	      <td><input type="password" name="pass"  placeholder="password" /></td>
	    </tr>
	    <tr>
	      <td style="padding: 10px;">Repeat password</td>
	      <td><input type="password" name="pass2"  placeholder="password" /></td>
	    </tr>
	  </table>
		
		<br />
		<input type="submit" value="Change password" />
		
	</form>
	
	
  </center>


</div>