<div id="changepassword">
	<h2>Password change</h2><br />
	

  <%- messages() %>
	
	<form id="password_change" action="/sessions/changepass" method="post">
    <div class="formblock">
      <input id="authKey" type="hidden" name="authkey"  value="<%= authKey || '' %>"/>
      <input id="email" type="hidden" name="email" value="<%= email || '' %>" />
      <label for="pass">Password</label>
      <input id="pass" type="password" name="pass"  placeholder="password" />
      <label for="pass2">Repeat password</label>
      <input id="pass2" type="password" name="pass2"  placeholder="password" />
      <input class="button" value="Change password" type="submit">
    </div>
	</form>
	

</div>