<div id="restorepassword">
  <h1>Password Recovery </h1>
	

  <%- messages() %>

	<form id="password_recover" action="/sessions/restorepass" method="post">
    <div class="formblock">
      <label for="recover_mail">To recover your password, just insert your account email in the box below</label>
      <input type="text" name="email" id="recover_mail" placeholder="type your email here" autofocus/>
      <input class="button" value="Send" type="submit">
    </div>
	</form>
	
	


</div>