<div id="signin">
  <h2>Sign In</h2>

  <center>

    <%- messages() %>

    <form action="/sessions/signin" method="post">
      <table>
        <tbody>
        <tr>
          <td>Username</td>
          <td><input name="username" class="signin-input" placeholder="username" autofocus="" type="string"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input name="pass" class="signin-input" placeholder="password" type="password"></td>
        </tr>
        </tbody></table>
      <br>
      <input value="Sign In" type="submit" class="signin-button">
    </form>

  </center>

  <br /><br /><hr />

	<p style="font-style: italic; text-align: center;">Forgot your password ? <a href="/sessions/restorepass">Restore it !</a></p>

</div>
