<div id="inviteusers">
  <h1>Invite user </h1>
	

  <%- messages() %>

	<form id="invitation_form" action="/invitations" method="post">
    <div class="formblock">
      <label for="invite_mail">Email</label>
      <input type="text" name="email" id="invite_mail" placeholder="type an email here" autofocus/>
      <input class="button" value="Send invitation" type="submit">
    </div>
	</form>
	

</div>